OWNER_NAME="💀sHANUWA MIND💀"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "SHANUWA-MD"
IMAGE_MENU= "https://telegra.ph/file/dddcc6c76f2b07627d327.jpg"
NUMERO_OWNER= ""
OWNER_NAME= "Shanuwa"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
